@import "src/components/variables";

.detail-button{
  display: inline-block;
  height: 30px;
  width: 134px;
  background-color: $white-color;
  border: 3px solid $light-grey-color;
  border-radius: 20px;
  text-align: center;
  padding-top: 5px;
  margin-left: 10px;

  font: $font-button;
  line-height: 1.5;
  color: $primary-color;
  text-decoration: none;

  &:hover{
    //background-color: $light-accent-color;
    //color: $gold-accent-color;
    border-color: $primary-color;
  }
}