@import "src/components/variables";

.goods-form{
    //height: 894px;
    //width: 100%;
    position: relative;
    padding-top: 100px;
}

.goods-form-back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: $primary-color;
}
.goods-container{
    //display: flex;
    //flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    //flex-direction: row;
    max-width: 1400px;
    margin: 0 50px;

}