.coffee-build-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  margin: 100px 0 100px 0;
}

.coffee-build-items-image{
  width: 80px;
  justify-content: end;
}

.coffee-build-items-title{
  margin: 40px 0 10px 0;
}
.coffee-build-items-text{
  padding: 10px 30px 10px 30px;
  margin: 0;
}