//colors
$primary-color: #415167;
$gold-accent-color: #C7A17A;
$dark-grey-color: #151D28;
$light-grey-color: #EDF0F5;
$light-accent-color: #F9F5E8;
$white-color: #FFFFFF;

//font
$font-display-large: 900 45px/50px Montserrat, sans-serif;
$font-display-medium: 900 30px/34px Montserrat, sans-serif;
$font-title: 700 24px/28px 'Nunito Sans', sans-serif;
$font-subtitle: 600 20px/24px 'Nunito Sans', sans-serif;
$font-price: 600 20px/24px 'Nunito Sans', sans-serif;
$font-body: 400 16px/20px 'Nunito Sans', sans-serif;
$font-menu-item: 300 16px/20px 'Nunito Sans', sans-serif;
$font-discription: italic 300 16px/20px 'Nunito Sans', sans-serif;
$font-button: 700 16px/20px 'Nunito Sans', sans-serif;





